<!DOCTYPE html>
<html>
<head>
    <title>Эксперименты с MongoDB, async\await и aggregate #BlondieCode!</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="public/2style.css">
</head>
<body>
    <main>
        <h1>Ревизия холодильника</h1>
    </main>
</body>
</html>
